export APP_SETTINGS="config.DevelopmentConfig"
export STORMPATH_API_KEY_ID="..."
export STORMPATH_API_KEY_SECRET="..."
export STORMPATH_APPLICATION="sumsarizer"
export DATABASE_URL="postgresql://localhost/sums"
