body { background-color: white; color: black; font-size: 18px; }

h1, h2, h3, h4, h5, h5, .nav { font-family: 'Montserrat', sans-serif; }
h2 { margin: 80px 0 40px 0; }

.nav { font-size: 14px; padding: 10px 0; }

/* homepage */
blockquote { font-size: 16px; }
.homepage-links-container { padding-top: 80px; }
.btn-success { background-color: #15d683; }

.centered { text-align: center; }
.section { margin: 40px 0; }

.header { margin: 0; background-color: #3187DD; color: white; }
h1 { font-size: 24px; border-bottom: 1px dotted lightgrey; padding: 5px; margin-bottom: 30px; }
.nobottom{margin-bottom:0px;}
.nomargin{margin:0;}
.studyTextButton{margin-right:20px; margin-top:12px; font-weight: bold!important  ;}
.tinyText{font-size:12px; font-weight:200;}
.upload-container { margin: 20px 0;}
.row{margin-left:10px; margin-right:10px;}

h2 { font-size: 20px; }

label { font-size: 16px;}

a { cursor: pointer; color: steelblue;}

#welcome {margin-top: 6em;}

#welcome li {font-size: 1.5em;}

#next a{color:white;}
#clear a{color:white;}
#clear{margin-left: 50px;}

#fileList{
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#fileNotes{
  font-size: 9pt;
  padding-top:20px;
}

.register, .login, .dashboard {margin-top: 6em;}

.register-fail, .login-fail {margin-bottom: 1em;}

.login .last-p {margin-bottom: 2em;}

.dashboard h2 {font-weight: bold;}

.dashboard .data {
  color: #DF691A;
  font-weight: bold;
}

tr td a.btn.btn-xs{font-size:8pt;}
tr td a.btn.btn-xs:hover{color:steelblue; text-decoration: underline;}
tr td a.btn.btn-xs.btn-danger:hover{color:white; text-decoration: none;}

.nav-pills>li>a{ color: white; }
.nav-pills>li>a:hover{color: white; background-color: #3187DD;}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: steelblue;
  border-bottom: 3px solid steelblue;
}
svg {
  font: 10px sans-serif;
  display: block;
  margin: auto;
}

.area {
  fill: black;
  clip-path: url(#clip);
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}

.point {
  fill: black;
  stroke: none;
  clip-path: url(#clip);
}

.point.selected {
  fill: red;
  fill-opacity: 1;
  stroke: red;
  clip-path: url(#clip);
}

.point.training {
  fill: blue;
  fill-opacity: 1;
  stroke: blue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.main_brush .extent,
.context_brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.modal-body input.form-control{border:1px solid lightgray;}
.modal-content{background-color:white!important;}
.modal-footer{background-color:white!important;}
.modal-header{background-color:white!important;}

#currentUsers{font-size:12px; list-style: none;}
#currentUsers{font-size:12px; list-style: none; padding-left:5px;}

#otherUsers{font-size:12px; list-style: none; padding-left:5px;}
#otherUsers li p a span.glyphicon{margin-right:10px;}

#searchDingus{
position: relative;
padding:  2px 2px 2px 10px;
width: 90px;
-webkit-border-radius: 10px;
border: 1px #ccc solid;
font-size: 10px;
font-weight: 400;
letter-spacing: 1px;
}

.glyphicon{margin-right:3px;}

#usersContainer{border-top: 1px dotted lightgrey;}

.upload-container{margin-top:-30px;}

#datasets{list-style: none; padding-left: 5px; font-size:13px;}
.list-group-item{background-color:white; padding: 5px;}
.list-group{margin-bottom:0;}
.pagination{float:right; font-size:13px;}

/* Sticky footer styles*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}