.header { margin: 10px 0 20px 0;}
h1 { font-size: 24px; border-bottom: 1px solid #4e5d6c; padding: 5px; margin-bottom: 30px; }
h2 { font-size: 20px; }
label { font-size: 16px;}
a { cursor: pointer; }
.upload-container { margin: 20px 0;}

#welcome {
  margin-top: 6em;
}

#welcome li {
  font-size: 1.5em;
}

.register, .login, .dashboard {
  margin-top: 6em;
}

.register-fail, .login-fail {
  margin-bottom: 1em;
}

.login .last-p {
  margin-bottom: 2em;
}

.dashboard h2 {
  font-weight: bold;
}

.dashboard .data {
  color: #DF691A;
  font-weight: bold;
}




svg {
  font: 10px sans-serif;
  display: block;
  margin: auto;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}

.point {
  fill: steelblue;
  stroke: none;
  clip-path: url(#clip);
}

.point.selected {
  fill: red;
  fill-opacity: 1;
  stroke: brown;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.main_brush .extent,
.context_brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}