<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SUMS Labeller | {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <ul class="nav nav-pills pull-left">
          <li {% if 'index' in request.endpoint %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
          {% if user.is_authenticated() %}
            <li {% if 'dashboard' in request.endpoint %}class="active"{% endif %}><a href="{{ url_for('dashboard') }}">Studies</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
            <li {% if 'login' in request.endpoint %}class="active"{% endif %}><a href="{{ url_for('login') }}">Login</a></li>
						<li {% if 'register' in request.endpoint %}class="active"{% endif %}><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
        <h3 class="text-muted"></h3>
      </div>
      {% block body %}{% endblock %}
    </div>
		
    <footer></footer>
		
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/angular.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/ui-bootstrap-tpls-0.12.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/highcharts.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/d3.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/keybinding.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
		<script src="{{ url_for('static', filename='js/labeller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/additional.js') }}"></script>
				
		
  </body>
</html>
