{% extends "base.html" %}

{% block body %}
	
	<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create New Study</h3>
    </div>
    <div class="modal-body">
			<form action="">
				<label for="">Study Name</label>
				<input type="text" />
			</form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="vm.submit()">Create</button>
        <button class="btn" ng-click="vm.cancel()">Cancel</button>
    </div>
  </script>

  <div class="" ng-controller="StudyCtrl as vm">
    <div class="row">
      <div class="col-lg-12">
				
				<h1>Studies</h1>
				<div class="pull-right">				
					<a href="" class="btn btn-success" ng-click="vm.openModal()">New Study</a>
				</div>
				
				<ul>
					{% for study in studies %}
					<li>
						<a>{{ study.title }}</a>
					</li>
					{% endfor %}
				</ul>
				
      </div>
    </div>
  </div>
{% endblock %}
