{% extends "base.html" %}


{% block body %}
  <div class="">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
				<h1>End User License Agreement</h1>
          <p>This Use Agreement (UA) is a legal agreement between you (either an individual or a single entity) and the mentioned authors (Jeremy Coyle, Ajay Pillarisetti, Marc Pare, and Daniel Wilson) of this Software for the software product identified above, which includes computer software and may include associated media, printed materials, and “online” or electronic documentation (“SOFTWARE PRODUCT”).</p>
          <p>By using the SOFTWARE PRODUCT, you agree to be bounded by the terms of this UA. If you do not agree to the terms of this UA, do not use the SOFTWARE PRODUCT.</p>

          <p>1. SOFTWARE PRODUCT LICENSE</p>
          <p>SUMsarizer is being distributed as open source web application for personal, commercial use, non-profit organization, and educational purposes. You are NOT allowed to make a charge for distributing this Software (either for profit or merely to recover your media and distribution costs) whether as a stand-alone product, or as part of a compilation or anthology, nor to use it for supporting your business or customers. It may be distributed freely on any website or through any other distribution mechanism.
          SUMsarizer allows you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>
          <p>When you upload, submit, store, send or receive content to or through our SOFTWARE PRODUCT, you give SUMsarizer (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our SOFTWARE PRODUCT), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our SOFTWARE PRODUCT, and to develop new ones. This license continues even if you stop using our SOFTWARE PRODUCT.</p>
          <p>The authors of this SOFTWARE PRODUCT work hard to respect privacy and human subjects data protected by Institutional Review Boards. If applicable, we recommend that the data you upload to the SOFTWARE PRODUCT be anonymized to the standards required by your Institutional Review Board. Do not upload personally identifiable information to the SOFTWARE PRODUCT. If you have concerns regarding human subjects protocols, please contact the authors.</p>

          <p>2. LIMITED WARRANTY</p>
          <p>NO WARRANTIES.</p>
          <p>The Author of this Software expressly disclaims any warranty for the SOFTWARE PRODUCT. The SOFTWARE PRODUCT and any related documentation is provided “as is” without warranty of any kind, either express or implied, including, without limitation, the implied warranties or merchantability, fitness for a particular purpose, or noninfringement. The entire risk arising out of use or performance of the SOFTWARE PRODUCT remains with you.</p>
          <p>NO LIABILITY FOR DAMAGES.</p>
          <p>In no event shall the author of this Software be liable for any special, consequential, incidental or indirect damages whatsoever (including, without limitation, damages for loss of business profits, business interruption, loss of business information, or any other pecuniary loss) arising out of the use of or inability to use this product, even if the Author of this Software is aware of the possibility of such damages and known defects.</p>

          <p>3. COPYRIGHT.</p>
          <p>SUMsarizer by Daniel Wilson, Jeremy Coyle, and Ajay Pillarisetti is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.</p>
        </div>            
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 tinyText text-center">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>      
      <p>SUMsarizer by Daniel Wilson, Jeremy Coyle, and Ajay Pillarisetti is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.</p>
      <p>For more information, go to <a href="https://github.com/SUMSarizer/">github.com/SUMSarizer</a></p>
  </div>
{% endblock %}
