{% extends "base.html" %}


{% block body %}
  <div class="">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
				<h1>Create New Account</h1>
        <form class="bs-example form-horizontal" method="post" action="">
          <fieldset>
            {% if error %}
              <div class="alert alert-dismissable alert-danger register-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% endif %}
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>NOTE</strong> Your password must be between 8 and 100
              characters, and must contain lowercase letters, uppercase letters,
              and numbers.
            </div>
            <div class="form-group">
              <label for="email" class="col-lg-4 control-label">Email</label>
              <div class="col-lg-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-4 control-label">Password</label>
              <div class="col-lg-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-4">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
