{% extends "base.html" %}


{% block body %}
  <div class="">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
				<h1>Create New Account</h1>
        <form class="bs-example form-horizontal" method="post" action="">
          <fieldset>
            {% if error %}
              <div class="alert alert-dismissable alert-danger register-fail">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
              </div>
            {% endif %}
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>NOTE</strong> Your password must be between 8 and 100
              characters, and must contain lowercase letters, uppercase letters,
              and numbers.
            </div>
            <div class="form-group">
              <label for="email" class="col-lg-4 control-label">Email</label>
              <div class="col-lg-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-4 control-label">Password</label>
              <div class="col-lg-4">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-4">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
            <div class="alert alert-dismissable alert-info">
              <strong> By registering to use the SUMSarizer, you agree to... EULA </strong>Now we know what they mean by 'advanced' tactical training. Travel time to the nearest starbase? I've had twelve years to think about it. And if I had it to do over again, I would have grabbed the phaser and pointed it at you instead of them. I can't. As much as I care about you, my first duty is to the ship. Your head is not an artifact! How long can two people talk about nothing? Your shields were failing, sir. I'm afraid I still don't understand, sir. In all trust, there is the possibility for betrayal. The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules. About four years. I got tired of hearing how young I looked.
            </div>            
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
