{% extends "base.html" %}

{% block body %}


	{% macro render_pagination(pagination, endpoint) %}
	  <div class=pagination>
	  {%- for page in pagination.iter_pages() %}
	    {% if page %}
	      {% if page != pagination.page %}
	        <a href="{{ url_for(endpoint, study_id=study.id, page=page) }}">{{ page }}</a>
	      {% else %}
	        <strong>{{ page }}</strong>
	      {% endif %}
	    {% else %}
	      <span class=ellipsis>…</span>
	    {% endif %}
	  {%- endfor %}
	  </div>
	{% endmacro %}


	<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Upload</h3>
    </div>
    <div class="modal-body">
			<p>Please upload a zip file containing all reading files for your study.</p>
			<input id="files" type="file" name="file">
			<input id="action" type="hidden" name="action" value="{{ url_for('upload', study_id=study.id) }}" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="vm.submit()">Upload</button>
        <button class="btn" ng-click="vm.cancel()">Close</button>
    </div>
  </script>


	<script type="text/ng-template" id="modal_delete.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete</h3>
    </div>
    <form action="{{ url_for('delete_study', study_id=study.id) }}" method="get">
		<div class="modal-body">
				
			<p>Deleting the study will remove all associated datasets and labels. Are you sure you want to do this?</p>
				
		</div>
		<div class="modal-footer">
		    <button type="submit" class="btn btn-success">Delete</button>
		    <a class="btn" ng-click="vm.cancel()">Cancel</a>
		</div>
    </form>
  </script>

  <div class="" ng-controller="DashboardCtrl as vm">
    <div class="row">
      <div class="col-lg-12">
				
		<h1>{{study.title}} 
			<a href="" class="tinyText studyTextButton pull-right" ng-click="vm.deleteModal()">Delete Study</a> 
			<a href="" class="tinyText studyTextButton pull-right" ng-click="vm.openModal()">Upload Sensor Data</a>
		</h1>
		<div class="upload-container">				
			
			{% for upload in uploads %}
				<p><b>Pending upload: {{upload.filename}}</b> </p>
			{% endfor %}
		</div>
				
        <h2>Data Sets</h2>
			<ul>
				{% for dataset in datasets %}
				<li>
					<p><a href="{{url_for('label_dataset', dataset_id=dataset.id)}}">{{ dataset.title }}</a></p>
				</li>
				{% endfor %}
				
				{{ render_pagination(pagination, 'study') }}
			</ul>
		<div id="usersContainer" class='col-md-12'>
			<div class='col-md-5'></div>
			<div id='userPanel1' class='col-md-3'>						
		        <h6>Current Users</h6>				
					<ul id='currentUsers'>
						{% for user in users %}
						<li>
							<p>{{user.email}}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
			<div id='userPanel2' class='col-md-3'>
		        <h6>
		        	Add Other Users
		        	<input type="text" id="searchDingus" placeholder="Filter Users..." name="search" class='pull-right'>
		        </h6>
					<ul id='otherUsers'>
						{% for user in notusers %}
						<li>
							<p><a href="{{url_for('add_study_user', study_id=study.id,user_id=user.id)}}">{{user.email}}</a></p>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>
      </div>
    </div>
  </div>

{% endblock %}
